extends layout.pug

block content 
  div.container
    h1 Create a post 

    if error
      p.error Please fill in the form below 

    if success
      p.success Data was submitted succesfully

    form.form(action="/create" method='POST')
      label Title
      input.input(type="text" name="title")

      label Description
      textarea.input(type="text" name="description")

      button.btn Create a post 
