extends layout.pug

block content 
    div.container
        h1.intro-msg  This is a blog application 
        a.featured(href="/create") Create a post 

    #footer “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service”

