<!DOCTYPE html>
html(lang="en")
    head
        title Blog application
        link(rel="stylesheet", href="/static/styles/styles.css")
    body
        header.navbar
                 h1
                     a(href="/") Blog application
                 nav.nav
                     a(href="/posts") All posts
        block content             